@page
@model NaverNews.Web.Pages.ArticlesModel
@{
}

<form method="POST">
	<div>
		Article Id: <input name="id" />
		<input type="submit" asp-page-handler="autopost" value="Post" />
	</div>
</form>
<br />
<div>
	<form method="GET">
		<tr>
			<td><input type="number" name="minimumTotal" value="@Model.MinimumTotal" /></td>
			<td><input type="number" name="count" value="@Model.Count" /></td>
			<td>
				<!-- <snippet_Edit> -->
				@* <a asp-page="./Edit" asp-route-id="@contact.Id">Edit</a> |*@
				<!-- </snippet_Edit> -->
				<!-- <snippet_Delete> -->
				<button type="submit">Refresh</button>
				<!-- </snippet_Delete> -->
			</td>
		</tr>
	</form>
</div>
<br />
<div>
	@if (Model.Articles != null)
	{
		foreach (var article in Model.Articles)
		{
			<tr>
				<td><img src="@article.ImageUrl" /></td>
				<td><a href="@article.ArticleUrl" target="_blank" rel="noopener noreferrer">@article.ArticleId</a></td>
				<td>@article.Title</td>
				<td>@article.Time</td>
				<td>
					<!-- <snippet_Edit> -->
					@* <a asp-page="./Edit" asp-route-id="@contact.Id">Edit</a> |*@
					<!-- </snippet_Edit> -->
					<form method="POST">
						<button type="submit" asp-route-id="@article.ArticleId" asp-page-handler="autopost">Post</button>
					</form>
				</td>
			</tr>
		}
	}
</div>
<br />
<div>
	@if (Model.Articles != null && Model.Articles.Count() > 0)
	{
		<form method="GET">
			<input type="hidden" name="olderThan" value="@Model.Articles.Last().Time" />
			<input type="hidden" name="minimumTotal" value="@Model.MinimumTotal" />
			<input type="hidden" name="count" value="@Model.Count" />
			<button type="submit">></button>
		</form>
	}
</div>
